@font-face {
    font-family: "MyFont", sans-serif;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root{
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);
    --white:hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    Font-size: 14px;
}
html, body{
    margin: 0;
}
body {
    max-width: 95%;
    display: grid;
    place-items: center;
}
main{
    box-sizing: border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    max-width: 95%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / span 3;
    padding-top: 10px;
    margin-bottom: 5px;
    position: relative;
}
.nav-toggle {
        display: block;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    transform-origin: center;
    width:30%;
}
ul li{
    transition: transform .3s ease-in-out;
}
ul li:hover{
    color: red;
    transform: translateY(10px);
    cursor: pointer;
    font-weight: bold;
    margin-bottom: -10px;
}
main > img{
    height: 200px;
    width: 100%;
    grid-column: 1/3;
    grid-row: 2;
    border-radius: 5px;
}
.new{
    grid-column: 3;
    grid-row: 2/ 4;
    background: var(--VeryDarkBlue);
    line-height: 20px;
    padding-left: 20px;
}
.new hr{
    border-color: var(--DarkBlue);
    width: 90%;
    text-align: left;
}
.new h1{
    font-size: 30px;
    color: #E0A24F;
    padding-top: 10px;
}
.new h3{
    color: var(--white);
    font-size: 20px;
    padding-top: 5px;
}
.new h3:hover{
    color: #E0A24F;
    cursor: pointer;
}
.new p{
    color: var(--PaleBlue);
    font-size: 15px;
    
}
.bright{
    font-size: 70px;
    font-weight: bold;
    line-height: 60px;
    margin-top: 20px;
}
.more{
    position: relative;
}
.more p{
    font-size: 20px;
    color: var(--GrayishBlue);
}
.more button{
    margin-top: 20px;
    color: white;
    background: rgb(223, 79, 79);
    height: 30%;
    width: 50%;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    letter-spacing: 5px;
    box-shadow: inset 0 0 0 0 rgb(223, 79, 79);
    transition: box-shadow .3s ease-in-out;
}
.more button:hover{
    cursor: pointer;
    box-shadow: inset 210px 0 0 0 var(--VeryDarkBlue);
}

.temp{
    grid-column: 1 / span 3;
    display: flex;
    height: 150px;
    padding-left: 10px;
}
.temp > div {
    display: flex;
    width: 100%;    
}
.temp h2,h4,p{
    padding-left: 5px;
}
.temp h4:hover{
    color: red;
    cursor: pointer;
}
.temp h2,p{
    color: var(--GrayishBlue);
}
.temp h2{
    font-size: 45px;
    margin: 0;
}
@media (max-width:375px) {
    main{
        display:flex;
        justify-content: center;
        flex-direction: column;
        max-width: 375px;
        padding-left: 10px;
    }
    .temp{
        display:flex;
        flex-direction: column;
    }
    .nav-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: -15px;
        height: 100vh;
        right: 0;
        width: 60%;
        background-color: var(--white);
        z-index: 1;
        padding-top: 70px;
    }
    .nav-menu li{
        padding-bottom: 15px;
    }
    .nav-toggle {
        padding-right:10px ;
        display: block;
        cursor: pointer;
        z-index: 3;
        
      }
    .bar {
        width: 25px;
        height: 3px;
        background-color: black;
        margin-bottom: 5px;
      }
  ul{
    height: 100%;
}
ul li:hover{
    color: red;
    transform: translateX(20px);
    cursor: pointer;
    font-weight: bold;
}
} 
.my-class2{
    filter:brightness(70%);
    opacity:70%;
}